---
import astroLogo from '../assets/astro.svg';
import background from '../assets/grid.jpg';
import speedtickers_logo from '../assets/speedtickers_logo.png';
import unr_logo from '../assets/unr_logo.png';
import hackclub_logo from '../assets/hackclub_logo.png';
import speedtickers_screenshot from '../assets/speedtickers_screenshot.png';
import placeholder_certificate from '../assets/placeholder_certificate.png';
import oia_certificate_1st from '../assets/oia_certificate_1st.png';
import oia_certificate_2nd from '../assets/oia_certificate_2nd.png';
import speedtickers_poster from '../assets/speedtickers_poster.png';
---


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

<div id="container">
	<div id="background"/>
	<main>
		<div class="rectangle"></div>
		<div class="big-header">
			<a>Juanes</a>
		</div>
		<div class="text-box">
		<div class="bold">
			<a> I’m Juan Esteban, Developer from Rosario - Argentina.<br>
				Passionate about Competitive programming and Game Development<br><br><br>
				I also do backend development, and now learning Frontend.<br><br><br>
				Participated in multiple STEM competitions, Gamejams, and sometimes Hackatons.<br><br><br><br><br></a>
		</div>
		<div class="light-text">
		<a>Email: Juanesteban10201@gmail.com</a>
		</div>
		<div id="Section">
			<div id="grid_background" alt="" fetchpriority="high" />
			<marquee class = "marquee" behavior="scroll" direction="left">
			<div class="red-header">
				<a>ENTRIES  ENTRIES  ENTRIES  ENTRIES</a>
			</div>
			</marquee>
			<div class="regular-text">
			<div id="containers">
			<a class="button" href="https://docs.astro.build">
				<span class="button-text">Lorem ipsum dolor amet Lorem ipsum dolor amet</span>
			</a>
			<a class="button" href="https://docs.astro.build">
				<span class="button-text">Going to Shangai with Hackclub - My experience</span>
			</a>
			<a class="button" href="https://docs.astro.build">
				<span class="button-text">Compiling Android and Twrp Guide</span>
			</a>
			<a class="button" href="https://docs.astro.build">
				<span class="button-text">Compiling Android and Twrp Guide</span>
			</a>
			<a class="button" href="https://docs.astro.build">
				<span class="button-text">Compiling Android and Twrp Guide</span>
			</a>
			<a class="button" href="https://docs.astro.build">
				<span class="button-text">Compiling Android and Twrp Guide</span>
			</a>
			</div>
		</div>
		</div>
		<br><br><br>
		<div id="Section">
		<div class="header">
			<a>Check my projects</a>
		</div>

		<div style="display: flex; align-items: center; gap: 1rem;">
			<img src={speedtickers_logo.src} alt="" style="width: 660px; height: 353px; float: left; margin-right: 20px;"/>
			<div style="display: flex; flex-direction: column; gap: 1rem;">
				<div class="regular-text">
					<a>Stippends given by</a>
				</div>
				<div style="display: flex; gap: 1rem;">
					<img src={unr_logo.src} alt="" style="width: 238px; height: 134px; float: left; margin-right: 20px;"/>
					<img src={hackclub_logo.src} alt="" style="width: 244px; height: 147px; float: left; margin-right: 20px;"/>
				</div>
			</div>
		</div>
		<a class="bold" style="padding: 20px 20px 20px 320px;">Made for Hackclub Game Jam, Juice. 2d Platformer game</a>
		<div style="display: flex; gap: 1rem; padding: 10px 10px 10px 10px;">
			<div style="display: flex; flex-direction: column; gap: 1rem;">
				<img src={speedtickers_screenshot.src} alt="" style="width: 504px; height: 392px; border-radius: 10px; padding: 0px 20px 0px 60px;"/>
				<a class="button" href="https://docs.astro.build" style="height: 70px; margin: 0px 20px 0px 60px;">
					<span class="button-text">Compiling Android and Twrp Guide</span>
				</a>
				<a class="button" href="https://docs.astro.build" style="height: 70px; margin: 0px 20px 0px 60px;">
					<span class="button-text">Compiling Android and Twrp Guide</span>
				</a>
				<a class="button" href="https://docs.astro.build" style="height: 70px; margin: 0px 20px 0px 60px;">
					<span class="button-text">Compiling Android and Twrp Guide</span>
				</a>
			</div>
			<div style="display: flex; gap: 1rem; padding: 10px 10px 10px 10px;">
				<display: flex; style="padding: 0px 20px 0px 110px;"; align-items: center; gap: 1rem;>
					<img src={placeholder_certificate.src} style="width: 445px; height: 324px">
					<img src={placeholder_certificate.src} style="width: 445px; height: 324px">
				</div>
				<!-- <img src={speedtickers_poster.src} style="width: 468px; height: 662px"> -->
			</div>
		</div>

		<div id="Section"></div>
		<div class="header">
			<a>Stem Competitions</a>
		</div>
		<div style="display: flex; gap: 1rem; padding: 10px 10px 10px 10px;">
			<div class="sub-header">
				<a>1st place National<br>Computer Science<br>Argentinian<br>competition - 2024<br></a>
			</div>
			<img src={oia_certificate_1st.src} style="width: 572px; height: 400px;"></img>
		</div>
		<div style="display: flex; gap: 1rem;">
			<div class="sub-header" style="white-space: nowrap;">
				<a>2nd place National<br>Computer Science<br>Argentinian<br>competition - 2023<br></a>
			</div>
			<img src={oia_certificate_2nd.src} style="width: 302px; height: 212px; padding: 0px 100px 0px 270px"></img>
			<a class="pixelbox">
				Also<br>participated in<br>Iberoamerican<br>2023 and 2024,<br>and Argentinian<br>National<br>Selective 2023<br>and 2024
			</a>
		</div>
		</div>

	</main>
</div>

<style>
	#Section {
		margin-top: 80px;
	}

	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
		background: #FFFFFF;
		/* filter: blur(100px); */
	}

	#grid_background {
		position: absolute;
		top: 90;
		left: 0;
		width: 100%;
		height: 70%;
		z-index: -1;
		background: #F0F0F0;
		background-repeat: repeat-y;
		background-image: url('../assets/grid.jpg');
		/* filter: blur(100px); */
	}

	.space-grotesk-custom {
  		font-family: "Space Grotesk", sans-serif;
  		font-optical-sizing: auto;
  		font-weight: 500;
  		font-style: normal;
	}


	.pixelify-sans-custom {
		font-family: "Pixelify Sans", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}


	.kalnia-custom {
  		font-family: "Kalnia", serif;
  		font-optical-sizing: auto;
  		font-weight: 500;
  		font-style: normal;
  		font-variation-settings:
    		"wdth" 100;
}

	#container {
		font-family: "Space Grotesk";
		font-size: 17px;
		height: 10%;
		width: 1200px; /* or any width you want */
 		margin: 0 auto;
	}
	
	#containers {
		height: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 40px 40px;
	}

	.text-box {
		max-width: 1092px;
	}

	.regular-text {
		white-space: pre-line;
		color: #303030;
		font-family: "Space Grotesk";
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 18px;
	}
	.light-text {
		white-space: pre-line;
		color: #303030;
		font-family: "Space Grotesk";
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 18px;
	}

	.bold {
		white-space: pre-line;
		color: #303030;
		font-family: "Space Grotesk";
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 12px;
	}

	.header{
		color: #303030;
		font-family: "Kalnia";
		font-size: 64px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.sub-header{
		color: #303030;
		font-family: "Kalnia";
		font-size: 40px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	.red-header {
		font-family: "Kalnia";
		font-weight: bold;
		text-align: center;
		color: #FF4A4A;
  		font-size: 200px;
		margin-bottom: 0px; /* reducí esto según lo que necesites */
		line-height: 1;
		margin-bottom: .4em;
    	white-space: nowrap;
	}
	.big-header {
		font-family: "Kalnia";
		color: #303030;
		font-size: 270px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.pixelbox {
		font-family: "Pixelify Sans";
		font-size: 25px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-decoration: none;
		border-radius: 20px;
		background: #000000;
		box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.25);
		color: #FFFFFF;
		padding: 15px 30px 20px 20px;
		width: 200px;
		height: 270px;
		flex-shrink: 0;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	a.button {
		text-decoration: none;
		border-radius: 20px;
		background: #D9D9D9;
		box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.25);
		color: black;
		padding: 20px 18px;
		width: 300px;
		height: 100px;
		flex-shrink: 0;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.button-text {
		max-width: 220px;
		white-space: normal;
		word-break: break-word;
	}
</style>
